openapi: 3.0.0
info:
  title: Follow Up Boss API
  version: 1.0.0
  description: API in Follow Up Boss
servers:
  - url: https://api.followupboss.com
paths:
  /v1/events:
    get:
      summary: Retrieve a list of events
      tags:
        - Events
      parameters:
        - name: limit
          in: query
          required: false
          description: Number of results to return. (Max 100.)
          schema:
            type: integer
            format: int32
            default: 10
            maximum: 100
        - name: next
          in: query
          required: false
          description: >-
            To get the next page of results, set this to the value returned in
            _metadata.next, or use the URL from _metadata.nextLink directly.
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: >-
            Specifies the number of rows to skip, before starting to return
            results. (For more efficient paging, please use the "next" parameter
            instead.)
          schema:
            type: integer
            format: int32
            default: 0
        - name: personId
          in: query
          required: false
          description: Find all events related to a person.
          schema:
            type: integer
            format: int32
        - name: type
          in: query
          required: false
          description: Comma separated list of one or more event types.
          schema:
            type: string
            enum:
              - Registration
              - Inquiry
              - Seller Inquiry
              - Property Inquiry
              - General Inquiry
              - Viewed Property
              - Saved Property
              - Visited Website
              - Incoming Call
              - Unsubscribed
              - Property Search
              - Saved Property Search
              - Visited Open House
              - Viewed Page
        - name: hasProperty
          in: query
          required: false
          description: >-
            Filters based on whether a property is associated with an event or
            not.
          schema:
            type: boolean
        - name: propertyAddress
          in: query
          required: false
          description: >-
            Searches property addresses for a given value, including partial
            matches.
          schema:
            type: string
      responses:
        '200':
          description: A list of events with metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  _metadata:
                    type: object
                    properties:
                      collection:
                        type: string
                        example: events
                      offset:
                        type: integer
                        format: int32
                        example: 0
                      limit:
                        type: integer
                        format: int32
                        example: 1
                      total:
                        type: integer
                        format: int32
                        example: 1000
                      next:
                        type: string
                        example: eyJzaW5jZUlkIjoxMjYzMn0
                      nextLink:
                        type: string
                        example: >-
                          https://api.reclients.com/v1/events?updatedAfter=1980-01-01T00%3A00%3A00Z&next=eyJzaW5jZUlkIjoxMjYzMn0
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                          example: 132
                        created:
                          type: string
                          format: date-time
                          example: '2014-05-05T19:38:27Z'
                        updated:
                          type: string
                          format: date-time
                          example: '2014-05-05T19:38:27Z'
                        personId:
                          type: integer
                          format: int32
                          example: 12264
                        message:
                          type: string
                          example: I am interested in 6825 Mulholland Dr, ...
                        description:
                          type: string
                          example: 'Move-in: 12/28/2013'
                        noteId:
                          type: integer
                          format: int32
                          example: 32
                        source:
                          type: string
                          example: Zillow
                        type:
                          type: string
                          example: Property Inquiry
                        property:
                          type: object
                          properties:
                            street:
                              type: string
                              example: 6825 Mulholland Dr
                            city:
                              type: string
                              example: Los Angeles
                            state:
                              type: string
                              example: CA
                            code:
                              type: string
                              example: '90068'
                            mlsNumber:
                              type: string
                              example: '14729339'
                            price:
                              type: string
                              example: '310000'
                            forRent:
                              type: string
                              example: '0'
                            url:
                              type: string
                              example: >-
                                http://www.zillow.com/homedetails/6825-Mulholland-Dr-Los-Angeles-CA-90068/2109065822_zpid/
                            type:
                              type: string
                              example: Residential
                            bedrooms:
                              type: string
                              example: '0'
                            bathrooms:
                              type: string
                              nullable: true
                            area:
                              type: string
                              nullable: true
                            lot:
                              type: string
                              nullable: true
                        pageTitle:
                          type: string
                          nullable: true
                        pageUrl:
                          type: string
                          nullable: true
                        pageDuration:
                          type: integer
                          format: int32
                          example: 0
    post:
      summary: Create an event
      description: This endpoint allows you to create a new event in Follow Up Boss.
      tags:
        - Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type: string
                  description: The source of the event.
                  example: Zillow
                system:
                  type: string
                  description: The system used for the event.
                  example: Zillow
                pageTitle:
                  type: string
                  description: The title of the page viewed.
                  example: ''
                pageUrl:
                  type: string
                  description: The URL of the page viewed.
                  example: ''
                type:
                  type: string
                  description: The type of event.
                  example: Virtually Toured Property
                person:
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                      description: The ID of the person associated with the event.
                      example: 1
                propertySearch:
                  type: object
                  properties:
                    type:
                      type: string
                      description: The type of property search.
                      example: Property Inquiry
                    neighborhood:
                      type: string
                      description: >-
                        The neighborhood or area in which a person is searching
                        for a property.
                      example: Cahuenga Pass
                    city:
                      type: string
                      description: The city in which a person is searching.
                      example: Los Angeles
                    state:
                      type: string
                      description: The state in which a person is searching.
                      example: CA
                    code:
                      type: array
                      items:
                        type: string
                      description: The postal codes related to the property search.
                      example:
                        - '90068'
                        - '90012'
                    minPrice:
                      type: integer
                      format: int32
                      description: The minimum price in which a person was searching.
                      example: 100000
                    maxPrice:
                      type: integer
                      format: int32
                      description: The maximum price in which a person was searching.
                      example: 500000
                    minBedrooms:
                      type: integer
                      format: int32
                      description: >-
                        The minimum number of bedrooms that a person was
                        searching for.
                      example: 1
                    maxBedrooms:
                      type: integer
                      format: int32
                      description: >-
                        The maximum number of bedrooms that a person was
                        searching for.
                      example: 10
                    minBathrooms:
                      type: number
                      format: float
                      description: >-
                        The minimum number of bathrooms that a person was
                        searching for.
                      example: 1
                    maxBathrooms:
                      type: number
                      format: float
                      description: >-
                        The maximum number of bathrooms that a person was
                        searching for.
                      example: 4
      responses:
        '200':
          description: Event created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    example: 1
                  created:
                    type: string
                    format: date-time
                    example: '2024-09-18T22:17:44Z'
                  updated:
                    type: string
                    format: date-time
                    example: '2024-09-18T22:17:44Z'
                  createdVia:
                    type: string
                    nullable: true
                  lastActivity:
                    type: string
                    format: date-time
                    example: '2024-09-18T22:17:49Z'
                  name:
                    type: string
                    example: Dan Corkill
                  firstName:
                    type: string
                    example: Dan Corkill
                  lastName:
                    type: string
                    example: ''
                  stage:
                    type: string
                    example: Lead
                  stageId:
                    type: integer
                    example: 2
                  source:
                    type: string
                    example: Referral
                  sourceId:
                    type: integer
                    example: 2
                  sourceUrl:
                    type: string
                    nullable: true
                  leadFlowId:
                    type: integer
                    nullable: true
                  delayed:
                    type: boolean
                    example: false
                  contacted:
                    type: integer
                    example: 1
                  price:
                    type: number
                    format: float
                    nullable: true
                  assignedLenderId:
                    type: integer
                    nullable: true
                  assignedLenderName:
                    type: string
                    nullable: true
                  assignedUserId:
                    type: integer
                    example: 1
                  assignedPondId:
                    type: integer
                    nullable: true
                  assignedTo:
                    type: string
                    example: Ant man
                  tags:
                    type: array
                    items:
                      type: string
                      example: Follow Up Boss
                  emails:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          example: hi@followupboss.com
                        type:
                          type: string
                          example: work
                        status:
                          type: string
                          example: Valid
                        isPrimary:
                          type: integer
                          example: 1
                  phones:
                    type: array
                    items:
                      type: object
                      properties:
                        value:
                          type: string
                          example: (855) 888-9769
                        type:
                          type: string
                          example: work
                        status:
                          type: string
                          example: Valid
                        isPrimary:
                          type: integer
                          example: 1
                        normalized:
                          type: string
                          example: '8558889769'
                        isLandline:
                          type: boolean
                          example: false
                        isOnboardingNumber:
                          type: boolean
                          example: false
                  addresses:
                    type: array
                    items:
                      type: object
                      nullable: true
                  picture:
                    type: object
                    properties:
                      small:
                        type: string
                        example: https://s.followupboss.com/pictures/dan.gif
                  socialData:
                    type: object
                    properties:
                      name:
                        type: string
                        example: Follow Up Boss
                      firstName:
                        type: string
                        example: ''
                      lastName:
                        type: string
                        example: ''
                      gender:
                        type: string
                        example: ''
                      age:
                        type: string
                        example: ''
                      location:
                        type: string
                        example: San Francisco
                      company:
                        type: string
                        example: ''
                      title:
                        type: string
                        example: ''
                      bio:
                        type: string
                        example: ''
                      topics:
                        type: string
                        example: >-
                          Management, Real Estate, Foreclosures, Email
                          Marketing, Marketing, Internet Marketing, Social
                          Media, Entrepreneurship, Advertising, Business,
                          Mortgages, Crm, Movies, Mailchimp
                      facebook:
                        type: string
                        example: https://www.facebook.com/followupboss/
                      twitter:
                        type: string
                        example: http://twitter.com/followupboss
                      googleProfile:
                        type: string
                        example: ''
                      googlePlus:
                        type: string
                        example: ''
                      linkedIn:
                        type: string
                        example: https://www.linkedin.com/company/follow-up-boss
                  websiteVisits:
                    type: integer
                    example: 1
                  timeframeId:
                    type: integer
                    nullable: true
                  claimed:
                    type: boolean
                    example: true
                  dealStatus:
                    type: string
                    example: Active
                  dealStage:
                    type: string
                    example: Buyers - Pending
                  dealName:
                    type: string
                    example: My First Deal
                  dealCloseDate:
                    type: string
                    format: date-time
                    example: '2024-09-25 22:17:47'
                  dealPrice:
                    type: number
                    format: float
                    example: 1400000
                  collaborators:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Jane Doe
                        assigned:
                          type: boolean
                          example: true
                        role:
                          type: string
                          example: Broker
                  teamLeaders:
                    type: array
                    items:
                      type: object
                      nullable: true
                  pondMembers:
                    type: array
                    items:
                      type: object
                      nullable: true
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
  /v1/events/{id}:
    get:
      summary: Get an event by ID
      description: This endpoint retrieves an event by its ID.
      tags:
        - Events
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the event to retrieve.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Event retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    description: The ID of the event.
                  created:
                    type: string
                    format: date-time
                    description: The timestamp when the event was created.
                  updated:
                    type: string
                    format: date-time
                    description: The timestamp when the event was last updated.
                  personId:
                    type: integer
                    format: int32
                    description: The ID of the person associated with the event.
                  message:
                    type: string
                    description: A message from the user about this inquiry.
                  description:
                    type: string
                    description: Any additional information about this inquiry.
                  noteId:
                    type: integer
                    format: int32
                    description: The ID of the note associated with the event.
                  source:
                    type: string
                    description: The name of the lead source.
                  type:
                    type: string
                    description: The type of event.
                  property:
                    type: object
                    properties:
                      street:
                        type: string
                        description: Street address of the property.
                      city:
                        type: string
                        description: City name of the property.
                      state:
                        type: string
                        description: Abbreviated state code of the property.
                      code:
                        type: string
                        description: Zipcode of the property.
                      mlsNumber:
                        type: string
                        description: MLS Number for the property.
                      price:
                        type: string
                        description: The asking price or price estimate for the property.
                      forRent:
                        type: string
                        description: Indicates if the property is for rent.
                      url:
                        type: string
                        description: A URL for the property provided by the lead source.
                      type:
                        type: string
                        description: A freeform description of property type.
                      bedrooms:
                        type: string
                        description: The number of bedrooms in the property.
                      bathrooms:
                        type: string
                        description: The number of bathrooms in the property.
                      area:
                        type: string
                        description: Area of the property in square feet.
                      lot:
                        type: string
                        description: Area of the lot/land in acres.
        '404':
          description: Event not found
        '500':
          description: Internal server error
